doctype html
html
    head 
        title= Contact
    style
        include style.css
    body       
        include ./navBar.pug
        .wrapper
            h1 Contact Us
            form.myForm
                input(type="text" name ="name" placeholder="Enter your name..")
                input(type="email" name ="email" placeholder="Enter your email..")
                input(type="phone" name ="phone" placeholder="Enter your phone..")
                input(type="text" name ="adress" placeholder="Enter your adress..")
                textarea#theTextarea
                    |Enter your concern..
                button submit